<div class="header_wrapper">
    <div class="title">SKYNET Dashboard</div>
    <div class="links">
        <table>
            <tr>
                <td class="help-link"><a href="runjs.html">Running Dashboard</a></td>
                <td class="help-link"><a href="skynetjs.html">Developer Dashboard</a></td>
                <td class="help-link"><a href="derivationjs.html">Derivation</a></td>
                <td class="help-link"><a href="changehistoryjs.html">Change History</a></td>
                <td class="help-link"><a href="explorerjs.html">Object Explorer</a></td>
                <td class="help-link"><a href="help_index.html">Help</a></td>
                <td class="help-link"><a href="help_start.html">Get Started</a></td>
            </tr>
        </table>
    </div>
    <div class="toolbar"><app-toolbar></app-toolbar></div>
</div>
