
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Skynet Dashboard</title>
    <meta name="description" content="SKYNET">
    <meta name="author" content="P.J.Driscoll">
    <link rel='icon' href='favicon.png' sizes='32x32' type='image/png'>
    <link rel='stylesheet' type='text/css' href='style.css'>
    <link rel='stylesheet' type='text/css' href='hotkeys.min.css'>
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.0/angular-sanitize.js"></script>
    <script src="hotkeys.min.js"></script>
    <script src="skynetjs.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <div ng-app="skynetApp" ng-controller='commandCtrl'>
        <div class='main'>
            <div class="header_wrapper">
                <div class="title">
                    SKYNET Dashboard
                </div>
                <div class="links">
                    <table>
                        <tr>
                            <td class="help-link"><a href="runjs.html">Running Dashboard</a></td>
                            <td class="help-link"><a href="skynetjs.html">Developer Dashboard</a></td>
                            <td class="help-link"><a href="derivationjs.html">Derivation</a></td>
                            <td class="help-link"><a href="changehistoryjs.html">Change History</a></td>
                            <td class="help-link"><a href="explorerjs.html">Object Explorer</a></td>
                            <td class="help-link"><a href="help_index.html">Help</a></td>
                            <td class="help-link"><a href="help_start.html">Get Started</a></td>
                        </tr>
                    </table>
                </div>

                <div class='threadtabs'>
                    <table class='thread'>
                        <tr>
                            <td ng-repeat="sc in stepcounts">
                                <form ng-submit='setthread(sc.threadnum)'>
                                    <input type='submit' name='threadnum' value='{{sc.threadnum}} : {{sc.stepcount}}' />
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class='toolbar'>
                    <ul class="nav nav-pills command">
                        <li>
                            <button title='Step over call' ng-click='submit("stepoverjs")'>Step over</button>
                        </li>
                        <li>
                            <button title='Step into call' ng-click='submit("stepintojs")'>Step into</button>
                        </li>
                        <li>
                            <button title='Step out of call' ng-click='submit("stepoutjs")'>Step out</button>
                        </li>
                        <li>
                            <button title='Step out of func' ng-click='submit("stepoutcalljs")'>Step out call</button>
                        </li>
                        <li>
                            <button title='Rerun current command' ng-click='submit("rerunjs")'>Rerun</button>
                        </li>
                        <li class="dropdown">
                            <button title='Goto step count' ng-click="gotostepcountsetfocus()" data-toggle="dropdown">Goto<b class="caret"></b></button>
                            <ul class="dropdown-menu">
                                <li class="command">
                                    <form ng-submit='gotostepcount()' >
                                        <label>Step count :</label><br />
                                        <input id='stepcountid' type='number' ng-change='updatereruncommand()' ng-model='stepcount' name='stepcount'><br />
                                        <label>Rerun command</label>
                                        <input type="checkbox" disabled ng-model="reruncommand"><br />
                                        <input type='submit' value='Run' />
                                    </form>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <button title='Dashboard settings' ng-click='settingssetfocus()' data-toggle="dropdown">Settings<b class="caret"></b></button>
                            <ul class="dropdown-menu">
                                <li class="command">
                                    <form ng-submit='settings()'>
                                        <label for="debugstop">Debug level</label><br />
                                        <select id="debugstop" ng-model="debugstop" ng-options="option.name for option in debugstopoptions"> </select> <br />
                                        Max frames : <br />
                                        <input type='number' ng-model='maxstackframes' name='maxstackframes' /> <br />
                                        Call frames : <br />
                                        <label>Max</label><input title='Max calls loaded' type='number' ng-model='maxcallstackframes' name='maxcallstackframes' />
                                        <label>Buf</label><input title='Load per request.' type='number' ng-model='bufcallstackframes' name='bufcallstackframes' /> <br />
                                        Max code : <br />
                                        <input type='number' ng-model='maxcode' name='maxcode' /> <br />
                                        Max derivation : <br />
                                        <input type='number' ng-model='maxderivation' name='maxderivation' /> <br />
                                        Max log : <br />
                                        <input type='number' ng-model='maxlog' name='maxlog' />
                                        <input type='submit' value='Enter' /><br />
                                    </form>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <button title='Run' ng-click='submit("runjs")'>Run</button>
                        </li>
                        <li>
                            <button title='Run to end' ng-click='submit("runtoendjs")'>End</button>
                        </li>
                        <li>
                            <button title='Run to breakpoint' ng-click='submit("debugjs")'>Debug</button>
                        </li>
                        <li>
                            <button title='Code debug break C++' ng-click='submit("codebreakjs")'>Code break</button>
                        </li>
                    </ul>
                </div>
            </div>

            <div class='main_frame'>
                <div class=main_wrapper>
                    <div class='breakpoints'>
                        <button title='MIR' ng-click='setbreakpoint(["MIR",3])' ng-class='breakpointclass(["MIR",3])'>Check MIR</button>
                        <button title='Cloned' ng-click='setbreakpoint(["clone",3])' ng-class='breakpointdefaultclass(["clone",3], "NONE")'>Cloned(see log)</button>
                        <button title='User' ng-click='setbreakpoint(["user",22])' ng-class='breakpointclass(["user",22])'>User breakpoint</button>
                        <button title='Error' ng-click='setbreakpoint(["Error",16])' ng-class='breakpointdefaultclass(["Error",16], "NONE")'>Error</button>
                        <button title='Delay' ng-click='setbreakpoint(["Warning",20])' ng-class='breakpointdefaultclass(["Warning",20], "NONE")'>Delay</button>
                        <button title='No constraint' ng-click='setbreakpoint(["Warning",19])' ng-class='breakpointdefaultclass(["Warning",19], "NONE")'>No constraint</button>
                        <button title='Multiple out' ng-click='setbreakpoint(["Warning",23])' ng-class='breakpointdefaultclass(["Warning",23], "NONE")'>Multiple out</button>
                        {{breakpoint}}
                    </div>

                    <div class="status">
                        {{taskdescription}} {{statusdescription}} - {{breakpointdescription}}
                    </div>

                    <div class='errors'>
                        <details open id='errorsid'>
                            <summary>{{error.description}}</summary>
                            <table class='frame'>
                                <tr ng-repeat="ch in error.callhistory">
                                    <td>
                                        {{ch.purpose}}
                                    </td>
                                    <td ng-bind-html="trustAsHtml(ch.expression)" init-bind></td>
                                    <td>
                                        {{ch.logcontext}}
                                    </td>
                                </tr>
                            </table>
                        </details>
                    </div>

                    <div class='worldsets'>
                        <details open  id='worldsetsid' ng-click='loadworldsets(true)'>
                            <summary>World Sets - {{ countworldsets }} records</summary>
                            <table class='frame'>
                                <tr ng-repeat="ws in worldsets">
                                    <td>
                                        {{ws.expression}}
                                    </td>
                                    <td>
                                        <button ng-repeat="w in ws.worlds" ng-title='w.breakpoint' ng-click='setbreakpoint(w.breakpoint)' ng-class='breakpointdefaultclass(w.breakpoint, w.reason)'>{{w.condition}}</button>
                                    </td>
                                    <td ng-repeat="cws in ws.childsets">
                                        <button ng-repeat="u in cws.worlds" ng-title='u.breakpoint' ng-click='setbreakpoint(u.breakpoint)' ng-class='breakpointdefaultclass(u.breakpoint, u.reason)'>{{u.condition}}</button>
                                    </td>
                                </tr>
                            </table>
                        </details>
                    </div>

                    <div class='delayedcalls'>
                        <details id='delayedcallsid' ng-click='loaddelayedcalls(true)' open>
                            <summary>Delayed Calls - {{ countdelayedcalls }} records</summary>
                            <table class='frame'>
                                <tr ng-repeat="d in delayedcalls">
                                    <td ng-bind-html="trustAsHtml(d.expression)" init-bind></td>
                                    <td ng-bind-html="trustAsHtml(d.result)" init-bind></td>
                                    <td>
                                        <button title='{{["delayed",d.id]}}' ng-click='setbreakpoint(["delayed",d.id])' ng-class='breakpointclass(["delayed",d.id])' ng-bind-html="trustAsHtml(d.cardinality)" init-bind></button>
                                    </td>
                                    <td>{{d.world}}</td>
                                </tr>
                            </table>
                        </details>
                    </div>

                    <div class='callstack' id='callstackdivid'>
                        <details id='callstackid' ng-click="loadcallstack(true)" open>
                            <summary>Call stack - {{ countcalls }} records</summary>
                            <table class='frame'>
                                <tr ng-repeat="f in callstack">
                                    <td>
                                        {{f.name}}
                                    </td>
                                    <td>
                                        <div>
                                            <div ng-repeat="d in f.function.value">
                                                <div class="code" ng-bind-html=" trustAsHtml(d.text)" init-bind><br /></div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <div ng-repeat="d in f.result.value">
                                                <div class="code" ng-bind-html=" trustAsHtml(d.text)" init-bind><br /></div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        {{f.breakpoint}}
                                    </td>
                                </tr>
                            </table>
                        </details>
                    </div>

                    <div class='stack'>
                        <details id='stackid' ng-click="loadstack(true)" open>
                            <summary>Detailed stack - {{ countframes }} records</summary>
                            <table class='stack'>
                                <caption>Detailed stack</caption>
                                <tr ng-repeat="f in frames">
                                    <td>
                                        <div style='overflow-x:auto;white-space:nowrap;width:900px'>
                                            <details ng-if="f.hascode">
                                                <summary>
                                                    <table class="frameheading">
                                                        <tr>
                                                            <td>{{f.framepos}}</td>
                                                            <td>{{f.function}}</td>
                                                            <td><button ng-click='reruntostackpoint(f.stepcount)'>Step:{{f.stepcount}}</button></td>
                                                            <td>SMEM:{{f.stackusage}}</td>
                                                            <td ng-bind-html="trustAsHtml(f.contextworld)" init-bind></td>
                                                            <td ng-bind-html="trustAsHtml(f.functioncardinality)" init-bind></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                    </table>
                                                </summary>
                                                <div ng-repeat="d in f.value">
                                                    <p class="code" ng-bind-html="trustAsHtml(d.text)" init-bind><br /></p>
                                                </div>
                                            </details>
                                            <table class="frameheading" ng-if="!f.hascode">
                                                <tr>
                                                    <td>{{f.framepos}}</td>
                                                    <td>{{f.function}}</td>
                                                    <td><button ng-click='reruntostackpoint(f.stepcount)'>Step:{{f.stepcount}}</button></td>
                                                    <td>SMEM:{{f.stackusage}}</td>
                                                    <td ng-bind-html="trustAsHtml(f.contextworld)" init-bind></td>
                                                    <td ng-bind-html="trustAsHtml(f.functioncardinality)" init-bind></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </table>
                                            <table class='frame'>
                                                <tr>
                                                    <th ng-repeat="v in f.variables">{{ v.name }}</th>
                                                </tr>
                                                <tr>
                                                    <td ng-repeat="v in f.variables">{{ v.typetext }} : <span ng-bind-html="trustAsHtml(v.cardinality)" init-bind></span></td>
                                                </tr>
                                                <tr>
                                                    <td ng-repeat="v in f.variables">
                                                        <div class='frame'>
                                                            <div ng-repeat="d in v.value">
                                                                <details ng-if="d.abbreviation">
                                                                    <summary>{{d.abbreviation}}...</summary><p ng-bind-html="trustAsHtml(d.text)" init-bind></p>
                                                                </details>
                                                                <div ng-if="!d.abbreviation" ng-bind-html="trustAsHtml(d.text)" init-bind><br /></div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </details>
                    </div>

                    <div class="commandbreakpoints">
                        <table class='noborder'>
                            <tr>
                                <td>Call</td>
                                <td><button ng-click='setbreakpoint(["Assert",3])' ng-class='breakpointclass(["Assert",3])'>Assert</button></td>
                                <td><button ng-click='setbreakpoint(["PartialAssert",3])' ng-class='breakpointclass(["PartialAssert",3])'>Partial Assert</button></td>
                                <td><button ng-click='setbreakpoint(["Evaluate",3])' ng-class='breakpointclass(["Evaluate",3])'>Evaluate</button></td>
                                <td><button ng-click='setbreakpoint(["PartialEvaluate",3])' ng-class='breakpointclass(["PartialEvaluate",3])'>Partial Evaluate</button></td>
                            </tr>
                            <tr>
                                <td>Return</td>
                                <td><button ng-click='setbreakpoint(["Assert",15])' ng-class='breakpointclass(["Assert",15])'>Assert</button></td>
                                <td><button ng-click='setbreakpoint(["PartialAssert",15])' ng-class='breakpointclass(["PartialAssert",15])'>Partial Assert</button></td>
                                <td><button ng-click='setbreakpoint(["Evaluate",15])' ng-class='breakpointclass(["Evaluate",15])'>Evaluate</button></td>
                                <td><button ng-click='setbreakpoint(["PartialEvaluate",15])' ng-class='breakpointclass(["PartialEvaluate",15])'>Partial Evaluate</button></td>
                            </tr>
                        </table>
                    </div>

                    <div class="codelog">
                        <details open id='codeid' ng-click='loadcode(true)'>
                            <summary>Code - {{countcodeentries}} records</summary>
                            <table class='log'>
                                <tr ng-repeat="l in code"><td ng-bind-html="trustAsHtml(l.expression)" init-bind></td></tr>
                            </table>
                        </details>
                    </div>

                    <div class="derivation">
                        <details open id='derivationsid' ng-click="loadderivations(true)">
                            <summary>Derivation - {{ countlogentries }} records</summary>
                            <table class='log'>
                                <tr><td class='log' ng-bind-html="trustAsHtml(derivationhtml)" init-bind></td></tr>
                            </table>
                        </details>
                    </div>

                    <div class="simplelog">
                        <details open id='logid' ng-click='loadlog(true)'>
                            <summary>Logging - {{ countlogentries }}</summary>
                            <table class='log'>
                                <tr ng-repeat="l in logs"><td>{{l.text}}</td></tr>
                            </table>
                        </details>
                    </div>

                    <div class='css_valid'>
                        <p>
                            <a href='http://jigsaw.w3.org/css-validator/check/referer'>
                                <img style='border:0;width:88px;height:31px'
                                     src='http://jigsaw.w3.org/css-validator/images/vcss-blue'
                                     alt='Valid CSS!' />
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
