

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Skynet Dashboard</title>
    <meta name="description" content="Skynet">
    <meta name="author" content="P.J.Driscoll">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <div ng-app="skynetApp" ng-controller='commandCtrl'>
        <h1>Skynet Dashboard - {{taskdescription}} {{statusdescription}} {{pollcount}}</h1>
        <table class='command'>
            <tr>
                <td valign='top'>
                    <form ng-submit='submit("run")'>
                        Run<br>
                        <input type='submit' value='Run'>
                    </form>
                </td>
                <td valign='top'>
                    <form ng-submit='submit("runtoend")'>
                        Run to end<br>
                        <input type='submit' value='End'>
                    </form>
                </td>
                <td valign='top'>
                    <form ng-submit='submit("debug")'>
                        Run to breakpoint<br>
                        <input type='submit' value='Debug'>
                    </form>
                </td>
                <td valign='top'>
                    <form ng-submit='submit("debugbreak")'>
                        Debug break C++<br>
                        <input type='submit' value='Debug break'>
                    </form>
                </td>
                <td valign='top'>
                    <form ng-submit='submit("stepover")'>
                        Step over call<br>
                        <input type='submit' value='Step over'>
                    </form>
                </td>
                <td valign='top'>
                    <form ng-submit='submit("stepintojs")'>
                        Step into call<br>
                        <input type='submit' value='Step into'>
                    </form>
                </td>
                <td valign='top'>
                    <form ng-submit='submit("stepout")'>
                        Step out of call<br>
                        <input type='submit' value='Step out'>
                    </form>
                </td>
                <td valign='top'>
                    <form ng-submit='submit("stepparam")'>
                        Step into parameters<br>
                        <input type='submit' value='Step parameter'>
                    </form>
                </td>
                <td valign='top'>
                    <form ng-submit='gotostepcount()'>
                        <details>
                            <summary>
                                Goto step count<br>
                                <input type='submit' value='Goto'><br>
                            </summary>Step count : <br>
                            <input type='text' ng-model='stepcount' name='stepcount'>
                            <br>
                    </form>
                </td>
                <td valign='top'>
                    <form ng-submit='initFirst()'>
                        <details>
                            <summary>
                                Max stack frames<br>
                                <input type='submit' value='Stack depth'><br>
                            </summary>Number of stack frames to display :<br>
                            <input type='text' ng-model='maxstackframes' name='maxstackframes'>
                        </details>
                    </form>
                </td>
                <td valign='top'>
                    <form ng-submit='submit("quit")'>
                        Abort thread<br>
                        <input type='submit' value='Quit'>
                    </form>
                </td>
            </tr>
        </table>
        <div>
            <table class='thread'>
                <caption>Threads</caption>
                <tr>
                    <td ng-repeat="sc in stepcounts">
                        <form ng-submit='setthread(sc.threadnum)'>
                            <input type='submit' name='threadnum' value='{{sc.threadnum}} : {{sc.stepcount}}' />
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        <table class='group'>
            <tr>
                <td valign='top' max-width='60%'>
                    <table class='stack'>
                        <caption>Thread {{threadnum}}</caption>
                        <tr ng-repeat="f in frames">
                            <td align="center">
                                <div style='overflow-x:auto;white-space:nowrap;width:900px'>
                                    <table class='frame'>
                                        <caption>Frame {{ f.framepos }} : {{ f.framenum }} {{ f.function }}</caption>
                                        <tr>
                                            <th ng-repeat="v in f.variables">{{ v.name }}</th>
                                        </tr>
                                        <tr>
                                            <td ng-repeat="v in f.variables">{{ v.typetext }}</td>
                                        </tr>
                                        <tr>
                                            <td ng-repeat="v in f.variables">
                                                <div ng-repeat="d in v.value">
                                                    <details ng-if="d.abbreviation">
                                                        <summary>{{d.abbreviation}}...</summary><p>{{d.text}}</p>
                                                    </details>
                                                    <div ng-if="!d.abbreviation">{{d.text}}</div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
                <td valign='top' max-width='40%'>
                    <table class='log'>
                        <caption>Logging</caption>
                        <tr ng-repeat="l in logs"><td>{{l.text}}</td></tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <p>
            <a href='http://jigsaw.w3.org/css-validator/check/referer'>
                <img style='border:0;width:88px;height:31px'
                     src='http://jigsaw.w3.org/css-validator/images/vcss-blue'
                     alt='Valid CSS!' />
            </a>
        </p>
    </div>
    <script>
        var home = 'http://127.0.0.1/';
        var app = angular.module('skynetApp', []);
        app.controller('commandCtrl', function ($scope, $http, $timeout) {
            $scope.threadnum = 0;
            $scope.maxstackframes = 0;
            $scope.pollcount = 0;
            $scope.scheduled = 0;
            $scope.initFirst = function () {
                if (!$scope.scheduled) {
                    $scope.scheduled = $scope.scheduled + 1;
                    $http.get(home + 'stackjs?threadnum=' + $scope.threadnum + '&maxstackframes=' + $scope.maxstackframes)
                        .then(function (response) {
                            $scope.frames = response.data.records; $scope.threadnum = response.data.threadnum;
                            $scope.taskdescription = response.data.taskdescription;
                            $scope.statusdescription = response.data.statusdescription;
                            $scope.running = response.data.running;
                            $scope.pollcount = $scope.pollcount + 1;
                            $scope.scheduled = $scope.scheduled - 1;
                            if ($scope.running) {
                                $timeout(function () { $scope.initFirst(); }, 2000);
                            };
                        });
                };
                $http.get(home + 'logjs?threadnum=' + $scope.threadnum + '&maxlogentries=' + $scope.maxstackframes * 4)
                    .then(function (response) { $scope.logs = response.data.records; });
                $http.get(home + "stepcountjs")
                    .then(function (response) { $scope.stepcounts = response.data.records; });
            };
            $scope.submit = function (action) {
                $http.get(home + action + '?threadnum=' + $scope.threadnum + '&stackdepth=' + $scope.stackdepth)
                    .then(function (response) { $scope.initFirst(); });
            };
            $scope.setthread = function (newthreadnum) {
                if (threadnum != newthreadnum) {
                    $scope.threadnum = newthreadnum;
                    $scope.initFirst();
                }
            };
            $scope.gotostepcount = function () {
                $http.get(home + 'gotostepcountjs?threadnum=' + $scope.threadnum + '&stepcount=' + $scope.stepcount)
                    .then(function (response) { $scope.initFirst(); });
            };
            $scope.initFirst();
        });
    </script>
</body>
</html>
