<!doctype html>
<html lang="en">
<head>
    <style>
        table {
            font - family: arial, sans - serif;
            border - collapse: collapse;
            width: 100 %;
        }

        td, th {
            border: 1px solid #dddddd;
            text - align: left;
            padding: 8px;
        }

        tr:nth - child(even) {
            background - color: #dddddd;
        }
    </style>
    <meta charset="utf-8">
    <title>Skynet Dashboard</title>
    <meta name="description" content="Skynet">
    <meta name="author" content="SitePoint">
    <link rel="stylesheet" type="text/css" href="http://127.0.0.1/styles.css">
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <div ng-app="skynetApp" ng-controller='commandCtrl'>
        <h1>Skynet Dashboard - {{taskdescription}} {{statusdescriptin}}</h1>
        <table bgcolor='silver'>
            <tr>
                <td valign='top'>
                    <form ng-submit='submit("run")'>
                        Run<br>
                        <input type='submit' value='Run'>
                    </form>
                </td>
                <td valign='top'>
                    <form ng-submit='submit("runtoend")'>
                        Run to end<br>
                        <input type='submit' value='End'>
                    </form>
                </td>
                <td valign='top'>
                    <form ng-submit='submit("debug")'>
                        Run to breakpoint<br>
                        <input type='submit' value='Debug'>
                    </form>
                </td>
                <td valign='top'>
                    <form ng-submit='submit("debugbreak")'>
                        Debug break C++<br>
                        <input type='submit' value='Debug break'>
                    </form>
                </td>
                <td valign='top'>
                    <form ng-submit='submit("stepover")'>
                        Step over call<br>
                        <input type='submit' value='Step over'>
                    </form>
                </td>
                <td valign='top'>
                    <form ng-submit='submit("stepintojs")'>
                        Step into call<br>
                        <input type='submit' value='Step into'>
                    </form>
                </td>
                <td valign='top'>
                    <form ng-submit='submit("stepout")'>
                        Step out of call<br>
                        <input type='submit' value='Step out'>
                    </form>
                </td>
                <td valign='top'>
                    <form ng-submit='submit("stepparam")'>
                        Step into parameters<br>
                        <input type='submit' value='Step parameter'>
                    </form>
                </td>
                <td valign='top'>
                    <form ng-submit='gotostepcount()'>
                        <details>
                            <summary>
                                Goto step count<br>
                                <input type='submit' value='Goto'><br>
                            </summary>Step count : <br>
                            <input type='text' ng-model='stepcount' name='stepcount'>
                            <br>
                         </details>
                    </form>
                </td>
                <td valign='top'>
                    <form action='/maxstackframes' method='get'>
                        <details>
                            <summary>
                                Max stack frames<br>
                                <input type='submit' value='Stack depth'><br>
                            </summary>Number of stack frames to display :<br>
                            <input type='text' name='maxstackframes'>
                        </details>
                    </form>
                </td>
                <td valign='top'>
                    <form ng-submit='submit("quit")'>
                        Abort thread<br>
                        <input type='submit' value='Quit'>
                    </form>
                </td>
            </tr>
        </table>
        <div>
            <table>
                <caption>Threads</caption>
                <tr>
                    <td ng-repeat="sc in stepcounts">
                        <form ng-submit='setthread(sc.threadnum)'>
                            <input type='submit' name='threadnum' value='{{sc.threadnum}} : {{sc.stepcount}}' />
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        <table>
            <tr>
                <td valign='top' max-width='60%'>
                    <table>
                        <caption>Thread {{threadnum}}</caption>
                        <tr ng-repeat="f in frames">
                            <td align="center">
                                <div style='overflow-x:auto;white-space:nowrap;width:900px'>
                                    <table border="1">
                                        <caption>Frame {{ f.framepos }} : {{ f.framenum }} {{ f.function }}</caption>
                                        <tr>
                                            <th ng-repeat="v in f.variables">{{ v.name }}</th>
                                        </tr>
                                        <tr>
                                            <td ng-repeat="v in f.variables">{{ v.typetext }}</td>
                                        </tr>
                                        <tr>
                                            <td ng-repeat="v in f.variables">
                                                <div ng-repeat="d in v.value">
                                                    <details ng-if="d.abbreviation">
                                                        <summary>{{d.abbreviation}}...</summary><p>{{d.text}}</p>
                                                    </details>
                                                    <div ng-if="!d.abbreviation">{{d.text}}</div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
                <td valign='top' max-width='40%'>
                    <table>
                        <caption>Logging</caption>
                        <tr ng-repeat="l in logs"><td>{{l.text}}</td></tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <script>
        var home = 'http://127.0.0.1/';
        var app = angular.module('skynetApp', []);
        app.controller('commandCtrl', function ($scope, $http) {
            $scope.threadnum = 0;
            $scope.stackdepth = 1;
            $scope.initFirst = function () {
                $http.get(home + 'stackjs?threadnum=' + $scope.threadnum + '&stackdepth=' + $scope.stackdepth)
                    .then(function (response) {
                        $scope.frames = response.data.records; $scope.threadnum = response.data.threadnum;
                        $scope.taskdescription = response.data.taskdescription;
                        $scope.statusdescription = response.data.statusdescription;
                        $scope.quitting = response.data.quitting;
                    });
                $http.get(home + 'logjs?threadnum=' + $scope.threadnum)
                    .then(function (response) { $scope.logs = response.data.records; });
                $http.get(home + "stepcountjs")
                    .then(function (response) { $scope.stepcounts = response.data.records; });
            };
            $scope.threadnum = 0;
            $scope.stackdepth = 1;
            $scope.submit = function (action) {
                $http.get(home + action + '?threadnum=' + $scope.threadnum + '&stackdepth=' + $scope.stackdepth)
                    .then(function (response) { $scope.initFirst(); });
            };
            $scope.setthread = function (newthreadnum) {
                alert('setthread' + $scope.threadnum + ' ' + newthreadnum); if (threadnum != newthreadnum) {
                    alert('change'); $scope.threadnum = newthreadnum;
                    $scope.initFirst();
                }
            };
            $scope.gotostepcount = function () {
                $http.get(home + 'gotostepcountjs?threadnum=' + $scope.threadnum + '&stepcount=' + $scope.stepcount)
                    .then(function (response) { $scope.initFirst(); });
            };
            $scope.initFirst();
        });
    </script>
</body>
</html>
