<div class="main">

  <div class="header_wrapper">
    <div class="header"><app-header></app-header></div>
    <div class="threadtabs"><app-thread-tabs></app-thread-tabs></div>
  </div>
  <div class="main_frame">
    <div class="main_wrapper">
      <div class="breakpoints"><app-breakpoints></app-breakpoints></div>
      <div class="status"><app-status></app-status></div>
      <div class="errors"><app-errors></app-errors></div>
      <div class="worldsets"><app-world-sets></app-world-sets></div>
      <div class="delayedcalls"><app-delayed-calls></app-delayed-calls></div>
      <div class="watchlist"><app-watch-list></app-watch-list></div>
      <div class="callstack"><app-call-stack></app-call-stack></div>
      <div class="stack"><app-stack></app-stack></div>
      <div class="commandbreakpoints"><app-command-breakpoints></app-command-breakpoints></div>
      <div class="codelog"><app-code-log></app-code-log></div>
      <div class="derivation"><app-derivation></app-derivation></div>
      <div class="simplelog"><app-simple-log></app-simple-log></div>
      <div class="css_valid"><app-css-valid></app-css-valid></div>
    </div>
  </div>
</div>
